<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.koding.AniTrack">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name="io.flutter.app.FlutterApplication" android:label="AniTrack" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name="com.linusu.flutter_web_auth.CallbackActivity">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="anitrack" />
            </intent-filter>
        </activity>
    </application>
</manifest>
